<div class="container">
  <div class="row">
    <br>
    <div class="col-xs-2">
      <%= render 'layouts/left_panel_two' %>
    </div>

    <div class="col-xs-2">
    </div>

    <div class="col-xs-4">
        <%= yield %>

        <title>Routine: Exercises | Weight Lifting Pro</title>

  <h3> <strong><%= @routine.name %></strong>        
    <%= link_to(
                                                                content_tag(
                                                                        :i,
                                                                        nil,
                                                                        class: 'fa fa-pencil'
                                                                ),
                                                                edit_routine_path(@routine),
                                                                style: "color: white", class: 'btn btn-info btn-md'
                                                        )
  %>
  </h3>
      <% if @routine.exercises.count >2 %>

    <%= link_to(
                  content_tag(
                          :i,
                          ' back',
                          class: 'fa fa-arrow-left'
                  ),
                  :back
          )
      %>
          <% end %>
    <br>

    <% @routine.exercises.each do |exercise| %>
          
        <div class="well">
          <div class="row">
              <h4><strong><%= exercise.sample_exercise.name %></strong> </h4>
                <% if exercise.notes? %>
                <p>
              <strong>Exercise Notes:</strong>
                <%= exercise.notes %>
              </p>
                <% end %>

            <% if exercise.exercise_entries.present? %>
          <table>
                  <tr>
                    <td> <h5> <strong> Last Log: <%= exercise.exercise_entries.order("created_at").last.created_at.strftime("%B %e, %Y") %></strong></h5></td>
                  </tr>
                  <tr>
                    <td> <strong> Weight: </strong><%= exercise.exercise_entries.order("created_at").last.weight %> <%= exercise.exercise_entries.order("created_at").last.measure %> </td>
                  </tr>
                  <tr>
                    <td> <strong> Reps: </strong><%= exercise.exercise_entries.order("created_at").last.reps %></td>
                  </tr>
                  <tr>
                    <td><strong> Sets: </strong><%= exercise.exercise_entries.order("created_at").last.sets %></td>
                  </tr>
            <% if exercise.exercise_entries.order("created_at").last.notes.present? %>
                <tr>
                  <td><strong> Exercise Log Notes: </strong><%= exercise.exercise_entries.order("created_at").last.notes %></td>
                  </tr>
                <% end %>
                </table>
                <% else%>
            <p><i> You have not logged this exercise, yet! </i></p>
            <% end %>

            <br>
            <div class="col-md-8">

              <%= link_to(
                          content_tag(
                                  :i,
                                  ' Log',
                                  class: 'fa fa-plus'
                          ),
                          new_exercise_entry_path(:exercise_id => exercise.id),
                          style: "color: white",
                          class: 'btn btn-success'
                  )
              %>
              </div>
            
            <div class="col-md-3">
              <%= button_to "Remove", {:controller=>"routines", :action=>"remove_exercise_from_routine", :routine_id => @routine.id, :exercise_id => exercise.id, :method=>:post, data: { confirm: "Are you sure?" }},   {class:"btn
btn-danger btn-sm"}  %>
            </div>

            </div>
          </div>

    <% end %>

      <div class ="row">
        <div class="col-md-9">
          </div>

        <div class="col-md-3">

          <%= link_to(
                      content_tag(
                              :i,
                              ' back',
                              class: 'fa fa-arrow-left'
                      ),
                      :back
              )
          %>
        </div>
      </div>
      
    </div>
</div>
  </div>


<br>
<br>