<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <%= render 'layouts/left_panel_two' %>
    </div>

    <div class="col-xs-1">
    </div>
    <div class="col-xs-9">
      <%= yield %>

      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><%= link_to 'My Exercise Log', exercise_entries_path %> </li>
      </ul>

      <Title> Edit Exercise Entry | Weight Lifting Pro </Title>
      
      <h3>Edit Exercise Entry</h3>

<%= render 'form' %>

      
      <div class="row">
        <div class="col-md-1">
          </div>
        <div class="col-md-7">
        </div>
        <%= link_to 'Back', :back %>

      </div>
    </div>

    </div>
  </div>
