<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>


<div class="container">
  <title>Exercise Log Graphs | Weight Lifting Pro</title>

  <div class="row">
    <div class="col-xs-2">
      <%= render 'layouts/left_panel_two' %>
    </div>

    <div class="col-xs-1">
    </div>
    <div class="col-xs-9">
      <%= yield %>
      <br>
      <br>
      <h4 class="text-center"> <strong> Exercises Log History</strong>  </h4>
      <%= line_chart @exercise_entries.group(:exercise_id).group(:created_at).sum(:weight), 
                     ytitle: "Weight Lifted", height: "250px", discrete: true, 
                     xAxis:(type = 'datetime', labels = (format = '{value:%Y-%m-%d}'))  %>
          
          
          <!--highcharts: {options: {global: {useUTC: false}}}-->
      <!--xAxis { type: 'datetime'},-->
      <!--labels:-->
      <!--{-->
      <!--enabled: false-->
      <!--}-->
      <br>
      <div class="col-xs-1">
      </div>

      <table colspan ="5">
        <thead>
        <tr>
          <th>ID</th>
          <th style="padding:0 20px 0 40px;">Exercise</th>
        </tr>
        </thead>
        
        <tbody>
        


        <% current_user.exercises.each do |e| %>
          <tr>
            <% if e.sample_exercise.id == 1 %>
                <td ><%= e.id %> </td>
              <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
          <%end%>
            
          <% if e.sample_exercise.id == 2 %>
            <td><%= e.id %></td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
            <%end%>
            
            
          <% if e.sample_exercise.id == 3 %>
            <td><%= e.id %></td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
          <%end%>     
            
            <% if e.sample_exercise.id == 5 %>
                <td><%= e.id %></td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
          <%end%>
            
            
              <% if e.sample_exercise.id == 6 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
              <%end%>
            
            
              <% if e.sample_exercise.id == 7 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
              <%end%>
            
            
              <% if e.sample_exercise.id == 8 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
              <%end%>
            
            
              <% if e.sample_exercise.id == 9 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
              <%end%>
            
            
              <% if e.sample_exercise.id == 10 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
              <%end%>
            
            
              <% if e.sample_exercise.id == 11 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
              <%end%>
            
            
              <% if e.sample_exercise.id == 12 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
              <%end%>
            
            
              <% if e.sample_exercise.id == 13 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
              <%end%>
            
            
              <% if e.sample_exercise.id == 14 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>
            
            
            
              <% if e.sample_exercise.id == 15 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>
            

            
              <% if e.sample_exercise.id == 18 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>
            
            
              <% if e.sample_exercise.id == 17 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>
            
            
            
              <% if e.sample_exercise.id == 19 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>
            
            
            
              <% if e.sample_exercise.id == 20 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>
            

            
              <% if e.sample_exercise.id == 21 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>
            
            
            
              <% if e.sample_exercise.id == 22 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>
            
            
            
              <% if e.sample_exercise.id == 23 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>
            
            
              <% if e.sample_exercise.id == 24 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>
            
            
              <% if e.sample_exercise.id == 25 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>
            
   
            
              <% if e.sample_exercise.id == 26 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>
            
            
              <% if e.sample_exercise.id == 27 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>
            
            
              <% if e.sample_exercise.id == 28 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>   
            
            
              <% if e.sample_exercise.id == 29 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>
            
    
            
              <% if e.sample_exercise.id == 30 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>  
            
    
            
              <% if e.sample_exercise.id == 31 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>
            

            
              <% if e.sample_exercise.id == 32 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>
            
            
            
              <% if e.sample_exercise.id == 33 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>
            
            
            
              <% if e.sample_exercise.id == 34 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>
            
            
            
              <% if e.sample_exercise.id == 35 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                  
              <%end%>
            
 
              
                <% if e.sample_exercise.id == 36 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                    
                <%end%> 
              
              
                <% if e.sample_exercise.id == 37 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                    
                <%end%>
              


              
                <% if e.sample_exercise.id == 38 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                    
                <%end%>
              

              
                <% if e.sample_exercise.id == 39 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                    
                <%end%> 
              

              
                <% if e.sample_exercise.id == 40 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                    
                <%end%>
              

              
                <% if e.sample_exercise.id == 41 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                    
                <%end%>  
              
              
              
                <% if e.sample_exercise.id == 42 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                    
                <%end%>
              


              
                <% if e.sample_exercise.id == 43 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                    
                <%end%>  
              

              
                <% if e.sample_exercise.id == 44 %>
                <td>
                  <%= e.id %>
                </td>
                <td style="padding:0 20px 0 40px;"> <%= e.sample_exercise.name %> </td>
                    
                <%end%> 
              
            </tr>
      <% end %>
        </tbody>
</table>

      <br>
      <br>
      <!--<script type="text/javascript" charset="utf-8">
//          $(function() {
//              new Highcharts.Chart({
//                  chart: {
//                      renderTo: "exercise_chart",
//                      type: 'line'
//                  },
//                  title: {
//                      text: "Exercises"



//                  },
//                  xAxis: {
//                      type: "datetime"
//                  },
//                  yAxis: {
//                      title: {
//                          text: "Weight"
//                      }
//                  },
//                  tooltip: {
//                      formatter: function() {
//                          return Highcharts.dateFormat("%B %e, %Y", this.x) + ': ' +
//                                  "$" + Highcharts.numberFormat(this.y, 2);
//                      }
//                  },
//                  series: [
//                      {
//                         name: "<= :exercise_id %>",
//                          pointInterval: <= 1.day * 1000 %>,
//                          pointStart: <= 3.weeks.ago.to_i * 1000 %>,
//                      },
//                  ]
//              });
//          });
      <!--</script>-->
      <!--<div id="exercise_chart" style="width:560px; height:300px;"></div>-->


      
      
      



      <h4 class="text-center"> <strong>  Exercise Frequency </strong></h4>
      <%= column_chart @exercise_entries.group(:exercise_id).count, ytitle: "Frequency", xtitle: "Exercise", height: "250px"%>

      <br>
      <br>
      <!--<= line_chart @exercise_entries.group(:weight).count(:weight), ytitle: "Frequency", xtitle: "Weight Lifted", height: "210px", discrete: true, yAxis: {tickInterval:1} %>-->
      <!--<br>-->
      <!--<br>-->
      
      <!--<= line_chart @exercise_entries.group(:exercise_id).pluck(:weight), ytitle: "Frequency", xtitle: "Weight Lifted", height: "230", discrete: true, yAxis: {tickInterval:1} %>-->
      <!--<br>-->
      <!--<br>-->

      <!--<= line_chart @exercise_entries.group(:exercise_id).count, discrete: true %>-->

      <br>
      <br>

      <!--module OrdersHelper-->
      <!--def orders_chart_series(orders, start_time)-->
      <!--orders_by_day = orders.where(:purchased_at => start_time.beginning_of_day..Time.zone.now.end_of_day).-->
      <!--group("date(purchased_at)").-->
      <!--select("purchased_at, sum(total_price) as total_price")-->
      <!--(start_time.to_date..Date.today).map do |date|-->
      <!--order = orders_by_day.detect { |order| order.purchased_at.to_date == date }-->
      <!--order && order.total_price.to_f || 0-->
      <!--end.inspect-->
      <!--end-->
      <!--end-->

      <!--<br>-->
      <!--<br>-->
      <!--<= line_chart @exercise_entries.group(:created_at).count, ytitle: "Frequency", xtitle: "Weight Lifted", height: "230", discrete: true, yAxis: {tickInterval:1} %>-->
      <!--<br>-->
      <!--<br>-->

      <!--<= area_chart @exercise_entries.pluck("exercise_id").uniq.map { |c| { name: c, data: @exercise_entries.where(exercise_id: c).group(:weight).count }  }, discrete: true %>-->

    </div>
  </div>
</div>
<br>
<br>
<br>