<div class="container">
  <div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6">
      <%= yield %>

      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><%= link_to 'My Exercise Log', exercise_entries_path %> </li>
      </ul>


      <title> Log an Exercise | Weight Lifting Pro</title>

      <h3>Log an Exercise</h3>

      <!--<= render 'exercise_name' %>-->
      
      <br>
      
      <% if @exercise.notes? %>
    <p>
        <h5>
          <strong>Exercise Notes: </strong>  <%= @exercise.notes %>
        </h5>
      </p>
          <br>
    <% end %>


      <!-- <= @exercise.id %> -->
      
      <%= render 'form' %>
      <br>
      <br>
<%= link_to 'Exercise Log', exercise_entries_path %> |
      <%= link_to 'My Exercises', exercises_path %>
      
    </div>

  </div>

</div>

<br>
<br>