<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <%= render 'layouts/left_panel_two' %>
    </div>

    <div class="col-xs-1">
    </div>

    <div class="col-xs-6">
      <%= yield %>

      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><%= link_to 'New Exercise Log', exercises_path %> </li>
      </ul>

      <title> Log an Exercise | Weight Lifting Pro</title>
      
      <h3><strong> Log an Exercise </strong></h3>

      <% if @exercise.present? %>
            <h4> <%= render 'exercise_name'%></h4>
          
          <h5>
            <% if @exercise.routine.nil? %>
                <i>*This exercise does not belong to a routine </i>
            <% else  %>
                <span style="color:darkgreen"> Routine: <%= @exercise.routine.name %> </span> |
                <%= link_to 'View Routine', routine_path(@exercise.routine.id)  %>
            <% end %>
          </h5>
          
          

              <% if @exercise.notes? %>
                  <p>
                  <h5>
                    <strong>Exercise Notes: </strong>  <%= @exercise.notes %>
                  </h5>
                  </p>

              <% end %>
      <% end %>
      
      <div class="col-lg-11">
      </div>

      <td>


        <%= link_to(
                    content_tag(
                            :i,
                            nil,
                            class: 'fa fa-history'
                    ),
                    @exercise,
                    class: 'btn btn-default btn-md'
            )
        %>
      </td>
      <br>
      <br>
      
      <%= render 'form' %>


      <div class="col-xs-10">
      </div>

    <div class="col-md-2">

      <%= link_to(
                  content_tag(
                          :i,
                          ' back',
                          class: 'fa fa-arrow-left'
                  ),
                  :back
          )
      %>
      
      </div>
      
      <div class="col-xs-2">
      </div>

          <% if @exercise.present? %>
          
                  
              <!-- Exercise: Squat -->

              <% if current_user.gender = 'Female' && @exercise.sample_exercise.id == 1 %>
                    <div class="col-md-6">
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <strong> Suggested Weight: </strong>
                        </div>
                        <div class="panel-body">
                          
                        <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_15 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_30 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_25 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_50 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_60 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_150 %> <%= current_user.measure %>  </td> </tr>

                              </div>
                              </div>
                              </div>
                  <% end %>

              

              <% elsif current_user.gender = 'Male' && @exercise.sample_exercise.id == 1 %>
              <div class="col-md-6">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <strong> Suggested Weight: </strong>
                  </div>
                  <div class="panel-body">
                    
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_30 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_85 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_50 %> <%=current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_100 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_85 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_200 %> <%= current_user.measure %>  </td> </tr>
                  <% end %>
                  </div>
                </div>
              </div>
              <% end %>

              <!-- Exercise: Deadlift -->

              <% if current_user.gender = 'Female' && @exercise.sample_exercise.id == 2 %>
              <div class="col-md-6">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <strong> Suggested Weight: </strong>
                  </div>
                  <div class="panel-body">
                    
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_20 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_45 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_40 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_85 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_60 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_150 %> <%= current_user.measure %>  </td> </tr>

                        </div>
                        </div>
                        </div>
                  <% end %>

              <% elsif current_user.gender = 'Male' && @exercise.sample_exercise.id == 2 %>
              <div class="col-md-6">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <strong> Suggested Weight: </strong>
                  </div>
                  <div class="panel-body">
                    
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_30 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_100 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_50 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_125 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_85 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_250 %> <%= current_user.measure %>  </td> </tr>
                  <% end %>
              </div>
              </div>
              </div>
              <% end %>



              <!-- Exercise: Chest Press - Barbell -->

              <% if current_user.gender = 'Female' && @exercise.sample_exercise.id == 3 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_15 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_65 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_25 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_85 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_60 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_100 %> <%= current_user.measure %>  </td> </tr>
                  <% end %>

              <% elsif current_user.gender = 'Male' && @exercise.sample_exercise.id == 3 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_30 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_100 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_60 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_125 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_85 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_150 %> <%= current_user.measure %>  </td> </tr>
                  <% end %>
              <% end %>

              <!-- Exercise: Chest Press - Machine -->

              <% if current_user.gender = 'Female' && @exercise.sample_exercise.id == 17 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_15 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_65 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_25 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_85 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_60 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_100 %> <%= current_user.measure %>  </td> </tr>
                  <% end %>

              <% elsif current_user.gender = 'Male' && @exercise.sample_exercise.id == 17 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_30 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_100 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_60 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_125 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_85 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_150 %> <%= current_user.measure %>  </td> </tr>
                  <% end %>
              <% end %>



              <!-- Exercise: Leg Press -->

              <% if current_user.gender = 'Female' && @exercise.sample_exercise.id == 5 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_40 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_80 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_75 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_125 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_150 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_200 %> <%= current_user.measure %>  </td> </tr>
                  <% end %>

              <% elsif current_user.gender = 'Male' && @exercise.sample_exercise.id == 5 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_50 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_100 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_100 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_150 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_200 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_250 %> <%= current_user.measure %>  </td> </tr>
                  <% end %>
              <% end %>



              <!-- Exercise: Calf Raise - Standing -->

              <% if current_user.gender = 'Female' && @exercise.sample_exercise.id == 10 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_25 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_75 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_65 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_100 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_80 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_125 %> <%= current_user.measure %>  </td> </tr>
                  <% end %>

              <% elsif current_user.gender = 'Male' && @exercise.sample_exercise.id == 10 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_60 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_100 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_85 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_125 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_100 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_150 %> <%= current_user.measure %>  </td> </tr>
                  <% end %>
              <% end %>



              <!-- Exercise: Row- Bent-Over  -->

              <% if current_user.gender = 'Female' && @exercise.sample_exercise.id == 11 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_25 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_65 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_45 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_75 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_85 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_100 %> <%= current_user.measure %>  </td> </tr>
                  <% end %>

              <% elsif current_user.gender = 'Male' && @exercise.sample_exercise.id == 11 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_40 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_85 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_85 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_100 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_100 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_125 %>  <%= current_user.measure %>  </td> </tr>
                  <% end %>
              <% end %>



              <!-- Exercise: Bicep Curls - Individual -->

              <% if current_user.gender = 'Female' && @exercise.sample_exercise.id == 12 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_05 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_15 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_10 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_25 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_25 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_35 %> <%= current_user.measure %>  </td> </tr>
                  <% end %>

              <% elsif current_user.gender = 'Male' && @exercise.sample_exercise.id == 12 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_10 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_20 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_15 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_25 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_25 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_35 %> <%= current_user.measure %>  </td> </tr>
                  <% end %>
              <% end %>




              <!-- Exercise: Bicep Curls - Together -->

              <% if current_user.gender = 'Female' && @exercise.sample_exercise.id == 13 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_10 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_20 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_15 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_40 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_45 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_60 %> <%= current_user.measure %>  </td> </tr>
                  <% end %>

              <% elsif current_user.gender = 'Male' && @exercise.sample_exercise.id == 13 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_20 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_40 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_30 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_50 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_50 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_70 %> <%= current_user.measure %>  </td> </tr>
                  <% end %>
              <% end %>



              <!--Exercise: Rear Delt Row -->

              <% if current_user.gender = 'Female' && @exercise.sample_exercise.id == 20 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_10 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_20 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_20 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_30 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_30 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_45 %> <%= current_user.measure %>  </td> </tr>
                  <% end %>

              <% elsif current_user.gender = 'Male' && @exercise.sample_exercise.id == 20 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_15 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_30 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_25 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_40 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_35 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_50 %> <%= current_user.measure %>  </td> </tr>
                  <% end %>
              <% end %>



              <!-- Exercise: Shoulder Press / Overhead Press -->

              <% if current_user.gender = 'Female' && @exercise.sample_exercise.id == 25 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_10 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_20 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_20 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_30 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_30 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_45 %> <%= current_user.measure %>  </td> </tr>
                  <% end %>

              <% elsif current_user.gender = 'Male' && @exercise.sample_exercise.id == 25 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_15 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_30 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_25 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_40 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_85 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_100 %>  <%= current_user.measure %>  </td> </tr>
                  <% end %>
              <% end %>



              <!-- Exercise: Power Clean -->

              <% if current_user.gender = 'Female' && @exercise.sample_exercise.id == 38 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_50 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_70 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_90 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_100 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_100 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_125 %> <%= current_user.measure %>  </td> </tr>
                  <% end %>

              <% elsif current_user.gender = 'Male' && @exercise.sample_exercise.id == 38 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_60 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_100 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_120 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_150 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_150 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_175%>  <%= current_user.measure %>  </td> </tr>
                  <% end %>
              <% end %>



              <!-- Exercise: Clean & Press -->

              <% if current_user.gender = 'Female' && @exercise.sample_exercise.id == 39 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: 35 lbs  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: 65 lbs  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_75 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_100 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_100 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_125 %> <%= current_user.measure %>  </td> </tr>
                  <% end %>

              <% elsif current_user.gender = 'Male' && @exercise.sample_exercise.id == 39 %>
                  Suggested Weight:
                  <% case current_user.level
                       when 'Beginner' %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_35 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_70 %> <%= current_user.measure %>  </td> </tr>
                  <% when 'Intermediate'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_100 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_150 %> <%= current_user.measure %>  </td> </tr>
                  <% when  'Advanced'  %>
                      <tr> <td>  Max Goal for 5 Reps: <%= bw_150 %> <%= current_user.measure %>  </td> </tr>
                      <tr> <td>  Max Goal for 1 Rep: <%= bw_200 %>  <%= current_user.measure %>  </td> </tr>
                  <% end %>
              <% end %>
          <% end %>



          <br />

        </div>




      </div>
    

      <br />
      <br />


    </div>

  </div>

</div>

<br>
<br>
<br>
</div>