<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <%= render 'layouts/left_panel_two' %>
    </div>

    <div class="col-xs-1">
    </div>

    <div class="col-xs-6">
      <%= yield %>

      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><%= link_to 'New Exercise Log', exercises_path %> </li>
      </ul>

      <title> Log an Exercise | Weight Lifting Pro</title>
      
      <h3><strong> Log an Exercise </strong></h3>

      <% if @exercise.present? %>
            <h4>  Exercise: <%= render 'exercise_name'%></h4>
          
          <h5>
            <% if @exercise.routine.nil? %>
                <i>*This exercise does not belong to a routine </i>
            <% else  %>
                <span style="color:darkgreen"> Routine: <%= @exercise.routine.name %> </span> |
                <%= link_to 'View Routine', routine_path(@exercise.routine.id)  %>
            <% end %>
          </h5>
          
          

              <% if @exercise.notes? %>
                  <p>
                  <h5>
                    <strong>Exercise Notes: </strong>  <%= @exercise.notes %>
                  </h5>
                  </p>

              <% end %>
      <% end %>
      
      <div class="col-lg-10">
      </div>

      <td>


        <%= link_to(
                    content_tag(
                            :i,
                            nil,
                            class: 'fa fa-history'
                    ),
                    @exercise,
                    class: 'btn btn-default btn-md'
            )
        %>
      </td>
      <br>
      <br>



      <%= render 'form' %>
      <br>
      <br>


      <%= link_to(
                  content_tag(
                          :i,
                          ' back',
                          class: 'fa fa-arrow-left'
                  ),
                  :back
          )
      %>
      
      <div class="col-md-10">

      </div>


    </div>

  </div>

</div>

<br>
<br>