<div class="container">
  <div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6">
      <%= yield %>

      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><%= link_to 'New Exercise Log', exercises_path %> </li>
      </ul>


      <title> Log an Exercise | Weight Lifting Pro</title>
      
      <h3>Log an Exercise</h3>

      <% if @exercise.present? %>

              <%= render 'exercise_name'%>

              <% if @exercise.notes? %>
                  <p>
                  <h5>
                    <strong>Exercise Notes: </strong>  <%= @exercise.notes %>
                  </h5>
                  </p>

              <% end %>
      <% end %>
      
      <div class="col-lg-9">
      </div>

      <td> <%= link_to ' Exercise History ', @exercise %>
      </td>
      <br>
      <br>


<br>

      <%= render 'form' %>
      <br>
      <br>

      <%= link_to "Back", :back %>
      
      <div class="col-md-10">
        <%= link_to 'All Exercises Log', exercise_entries_path %> |
        <%= link_to 'My Exercises', exercises_path %> 
      </div>


    </div>

  </div>

</div>

<br>
<br>