<div class="container">
    <div class="row">
      <br>
      <div class="col-xs-2">
        <%= render 'layouts/left_panel_two' %>
      </div>

      <div class="col-xs-2">
      </div>
      
      <div class="col-xs-4">
        <div class="well">
        <%= yield %>
          
          
        <title>Exercise Entry  | Weight Lifting Pro</title>


        <h3><%= @exercise_entry.exercise.sample_exercise.name %></h3>
        <p>
          <strong>Weight:</strong>
          <%= @exercise_entry.weight %> <%= @exercise_entry.measure %>
        </p>

        <p>
          <strong>Reps:</strong>
          <%= @exercise_entry.reps %>
        </p>

        <p>
          <strong>Sets:</strong>
          <%= @exercise_entry.sets %>
        </p>
          
        <% if @exercise_entry.notes? %>
        <p>
          <strong>Notes:</strong>
          <%= @exercise_entry.notes %>
        </p>
          <% end %>
          
          <br>
          
          <div class="col-xs-8">
          <%= link_to(
                      content_tag(
                              :i,
                              nil,
                              class: 'fa fa-pencil'
                      ),
                      edit_exercise_entry_path(@exercise_entry),
                      style: "color: white", class: 'btn btn-info btn-md'
              )
          %>
          </div>


          <%= link_to(
                      content_tag(
                              :i,
                              ' Log',
                              class: 'fa fa-plus'
                      ),
                      new_exercise_entry_path(:exercise_id => @exercise_entry.exercise_id),
                      style: "color: white",
                      class: 'btn btn-success btn-md'
              )
          %>
        </div>

      </div>
    </div>
    </div>
