<div class="container">
  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-5">
      <%= yield %>

<Title> View Users | Weight Lifting Pro</Title>


<h3>User Information</h3>
  <ul class="list-group">
    <li class="list-group-item row">
      <b> Name: </b> <%= @user.fname%> <%= @user.lname%>
    </li>
    <li class="list-group-item row">
     <b> Email: </b>  <%= @user.email if @user.email %>
    </li>

    <li class="list-group-item row">
      <b> Last Login: </b> <%= @user.last_sign_in_at.strftime("%B %e, %Y") %>


    </li>
    <li class="list-group-item row">
     <b>  User Type: </b>                 
        <% if @user.admin? %>
          Admin
      <% else %>
          User
      <% end %>
    </li>

  </ul>

  <%= link_to 'View Users', users_path %>

</div>
  </div>
</div>

<br>
<br>