
<%= form_for(@muscle_measure) do |f| %>
    <% if @muscle_measure.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@muscle_measure.errors.count, "error") %> prohibited this muscle_measure from being saved:</h2>

          <ul>
            <% @muscle_measure.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field form-group">
      <h4><strong> Body Part: <%= @muscle_measure.name %> </strong></h4>
    </div>
    
    <div class="field form-group">
      <%= f.label :measurement %><br>
      <%= f.number_field :measurement, min: 5, max: 200, step: 0.25  %>
      <%= f.select :unit, options_for_select([['in'], ['cm']], @muscle_measure.unit) %>
    </div>

    <div class="actions">
      <%= f.submit 'Update', :class => "btn btn-md btn-primary", :style=>'width: 160px' %>
    </div>
<% end %>
