
<%= form_for(@muscle_measure) do |f| %>
  <% if @muscle_measure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@muscle_measure.errors.count, "error") %> prohibited this muscle_measure from being saved:</h2>

      <ul>
      <% @muscle_measure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field form-group">
      <%= f.label :name, "Select a Body Part To Measure:" %><br>
      <%= f.select :name, options_for_select([['Left Bicep'], ['Right Bicep'], ['Left Thigh'], ['Right Thigh'], ['Left Calf'], ['Right Calf'], ['Left Forearm'], ['Right Forearm'], ['Left Shoulder'], ['Right Shoulder'], ['Waist'], ['Chest']],  @muscle_measure.name) %>
    </div>
    

    <div class="field form-group">
      <%= f.label :measurement %><br>
      <%= f.number_field :measurement, min: 5, max: 200, step: 0.25  %>
      <%= f.select :unit, options_for_select([['in'], ['cm']], @muscle_measure.unit) %>
    </div>
    
    <div class="actions">
    <%= f.submit 'Create!', :class => "btn btn-md btn-primary", :style=>'width: 160px' %>
  </div>
<% end %>
