<%= form_for(@muscle_measure) do |f| %>
  <% if @muscle_measure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@muscle_measure.errors.count, "error") %> prohibited this muscle_measure from being saved:</h2>

      <ul>
      <% @muscle_measure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field form-group">
    <%= f.label :upper_arm_left %><br>
    <%= f.number_field :upper_arm_left, min: 0, max: 100, step: 0.25, :style => "width:40%", autofocus: true,  class: 'form-control' %>
  </div>
    <div class="field form-group">
    <%= f.label :upper_arm_right %><br>
    <%= f.number_field :upper_arm_right, min: 0, max: 100, step: 0.25, :style => "width:40%", autofocus: true,  class: 'form-control'  %>
  </div>
    <div class="field form-group">
    <%= f.label :thigh_left %><br>
    <%= f.number_field :thigh_left, min: 0, max: 200, step: 0.25, :style => "width:40%", autofocus: true,  class: 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label :thigh_right %><br>
    <%= f.number_field :thigh_right, min: 0, max: 200, step: 0.25, :style => "width:40%", autofocus: true,  class: 'form-control'  %>
  </div>
    <div class="field form-group">
    <%= f.label :calf_left %><br>
    <%= f.number_field :calf_left, min: 0, max: 100, step: 0.25, :style => "width:40%", autofocus: true,  class: 'form-control'  %>
  </div>
    <div class="field form-group">
    <%= f.label :calf_right %><br>
    <%= f.number_field :calf_right, min: 0, max: 100, step: 0.25, :style => "width:40%", autofocus: true,  class: 'form-control'  %>
  </div>
    <div class="field form-group">
    <%= f.label :waist %><br>
    <%= f.number_field :waist, min: 0, max: 300, step: 0.25, :style => "width:40%", autofocus: true,  class: 'form-control'  %>
  </div>

    <div class="field form-group">
    <%= f.label :chest %><br>
    <%= f.number_field :chest, min: 0, max: 200, step: 0.25, :style => "width:40%", autofocus: true,  class: 'form-control'  %>
  </div>

    <div class="field form-group">
    <%= f.select(:unit, options_for_select([['in'], ['cm']], @muscle_measure.unit)) %>
    </div>
    <div class="actions">
    <%= f.submit 'Create!', :class => "btn btn-md btn-primary", :style=>'width: 160px' %>
  </div>
<% end %>
