<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>


<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <%= render 'layouts/left_panel_two' %>
    </div>

    <div class="col-xs-1">
    </div>
    
    <div class="col-xs-9">

      <%= yield %>
      
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><%= link_to 'My Measurements', muscle_measures_path %> </li>
        <li><%= link_to 'New Measurement', new_muscle_measure_path%></li>
      </ul>

      <title> Measurements | Weight Lifting Pro</title>

      <h3><%= current_user.fname %>'s Measurements </h3>
      
      <table class ="table table-hover">
  <thead>

  <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Measurement</th>
    </tr>
  
  </thead>
  
  
  <tbody>
  <% @muscle_measures.each do |muscle_measure| %>


  <tr>
        <td><%= muscle_measure.created_at.strftime("%B %e, %Y") %></td>

    <td>  <%= muscle_measure.name %> </td>
        
        <td><%= sprintf("%g", muscle_measure.measurement) %> <%= muscle_measure.unit %></td>

    <td>
          <%= link_to(
                      content_tag(
                              :i,
                              nil,
                              class: 'fa fa-pencil'
                      ),
                      edit_muscle_measure_path(muscle_measure),
                      style: "color: white", class: 'btn btn-info btn-md'
              )
          %>
        </td>
    
        <td>
          <%= link_to(
                      content_tag(
                              :i,
                              nil,
                              class: 'fa fa-trash-o'
                      ),
                      muscle_measure,
                      method: :delete,
                      data: {
                              confirm: "Are you sure you want to continue?"
                      }, style: "color: white", class: 'btn btn-danger btn-md'
              )
          %>
        </td>
    
      </tr>
    <% end %>
  </tbody>
</table>
      <%= will_paginate @muscle_measures %>


      <br>
      <div class="row">
      <div class="col-xs-4">

          <%= link_to(
                  content_tag(
                          :i,
                          ' New Muscle Measure',
                          class: 'fa fa-plus'
                  ),
                  new_muscle_measure_path,
                  style: "color: white",
                  class: 'btn btn-success btn-md'
          )
      %>
        </div>

      <div class="col-md-7">
        <%= button_to ' Progress Graphs ', {:controller=>"muscle_measures", :action=> "graphs"}, {class:"btn btn-warning"}%>
      </div>
      

      <div class="col-xs-1">
        <%= link_to "Back", :back %>
      </div>
        

    </div>
  </div>  
</div>
</div>


<br>
<br>
<br>
