<div class="container">
  <div class="row">

    <div class="col-xs-2">
      <%= render 'layouts/left_panel_two' %>
    </div>

    <div class="col-xs-2">
    </div>

    <div class="col-xs-4">
      <div class="well">
        <%= yield %>

      <title> Measurements | Weight Lifting Pro</title>
      
      <p id="notice"><%= notice %></p>

      <h4><strong> <%= @muscle_measure.name %> </strong></h4>
    
    <p>
      <strong>Measurement: </strong>
      <%= @muscle_measure.measurement %>   <%= @muscle_measure.unit %>
    </p>
    <br>
        <br>

        <div class="col-xs-5">
          <%= link_to(
                      content_tag(
                              :i,
                              nil,
                              class: 'fa fa-pencil'
                      ),
                      edit_muscle_measure_path(@muscle_measure),
                      style: "color: white", class: 'btn btn-info btn-md'
              )
          %>
        </div>


        <%= link_to(
                    content_tag(
                            :i,
                            ' Measurement',
                            class: 'fa fa-plus'
                    ),
                    new_muscle_measure_path,
                    style: "color: white",
                    class: 'btn btn-success btn-md'
            )
        %>
      </div>

    </div>
  </div>
</div>
</div>
