<div class="container">
  <div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6">
      <%= yield %>

  <title>New Exercise | Weight Lifting Pro</title>

  <ul class="nav nav-tabs" role="tablist">
    <li><%= link_to 'My Exercises', exercises_path %></li>
    <li class="active"><%= link_to 'New Exercise', new_exercise_path %></li>
    <li><%= link_to 'All Exercises', sample_exercises_path %></li>
  </ul>

  <h3>New Exercise</h3>
      
      <%= render 'form' %>
      
      <div class="row">
        <div class="col-md-11"></div>
        <%= link_to 'Back', :back %>
        </div>
          </div>
    

      </div>
      
    </div>

  </div>

</div>


