<div class="container">
  
  <title>Exercises | Weight Lifting Pro</title>
  
  <p id="notice"><%= notice %></p>

<p>
  <h3>
    <div class="row">
      <div class="col-xs-7 col-xs-offset-4">
        <%= @exercise.sample_exercise.name %>
      </div>
    </div>
  </h3>
</p>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <% @exercise.exercise_entries.order(created_at: :desc).paginate(:page => params[:page], :per_page => 3).each do |log| %>
          
          
          <div class="well">
            <div class="row">

              <h4><strong><%= log.created_at.strftime("%B %e, %Y") %></strong> </h4>
              
              
                <strong>Weight:</strong>
                <%= log.weight %> <%= log.measure %>
              
              <br>
                <strong>Reps:</strong>
                <%= log.reps %>
                <br>
                <strong>Sets:</strong>
                <%= log.sets %>
              
              <% if log.notes? %>
                  <br>
                  <br>
            <p>
                <strong>Notes:</strong>
                <%= log.notes %>
              </p>
              <% end %>

            </div>
          </div>

      <% end %>

      <%= will_paginate @exercise_entries %>
      <br>

  <%= link_to 'Edit Exercise', edit_exercise_path(@exercise) %>
  |
  <%= link_to 'My Exercises', exercises_path %>
      <br>
      <br>
      <br>
</div>

  </div>

  </div>
<br>
<br>
