<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>


<div class="container">
  
  <title>Exercise History | Weight Lifting Pro</title>
  
  <p id="notice"><%= notice %></p>

<p>
  <h3>
    <div class="row">
      <div class="col-xs-7 col-xs-offset-4">
        <%= @exercise.sample_exercise.name %>
      </div>
    </div>
  </h3>
  </p>

<h4>
    <div class="row">
      <div class="col-xs-7 col-xs-offset-4">
        <% if @exercise.routine.nil? %>
           <i>*This exercise does not belong to a routine </i>
              <% else  %>
          <span style="color:darkgreen"> Routine: <%= @exercise.routine.name %> </span> |
              <%= link_to 'View Routine', routine_path(@exercise.routine.id)  %>
      <% end %>      
      </div>
    </div>
  </h4>
  
<br />
  
  <div class="row">
          <div class="col-xs-7 col-xs-offset-4">


            <%= link_to(
                        content_tag(
                                :i,
                                ' Log',
                                class: 'fa fa-plus'
                        ),
                        new_exercise_entry_path(:exercise_id => @exercise.id),
                        style: "color: white",
                        class: 'btn btn-success btn-md'
                )
            %>
            
            
            
          </div>
        </div>
  

  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">

      <br>
      
      <% @exercise.exercise_entries.order(created_at: :desc).paginate(:page => params[:page], :per_page => 3).each do |log| %>
          
          <div class="well">
            <div class="row">

              <h4><strong><%= log.created_at.strftime("%B %e, %Y") %></strong> </h4>
              
              
                <strong>Weight:</strong>
                <%= log.weight %> <%= log.measure %>
              
              <br>
                <strong>Reps:</strong>
                <%= log.reps %>
                <br>
                <strong>Sets:</strong>
                <%= log.sets %>
              
              <% if log.notes? %>
                  <br>
                  <br>
            <p>
                <strong>Notes:</strong>
                <%= log.notes %>
              </p>
              <% end %>
              <br>

              <div class="col-md-9">
                  </div>
              <div class="col-md-3">
                <td>
                  <%= link_to(
                              content_tag(
                                      :i,
                                      nil,
                                      class: 'fa fa-pencil'
                              ),
                              edit_exercise_entry_path(log),
                              style: "color: white", class: 'btn btn-info btn-md'
                      )
                  %>
                
                
                </td>
              </div>

            </div>
          </div>

      <% end %>

      <%= will_paginate @exercise_entries %>

      <div class ="row">
          <div class="col-md-10">
            <%= link_to 'My Exercises', exercises_path %>
            |
            <%= link_to 'Edit Exercise', edit_exercise_path(@exercise) %>

          </div>
          <div class="col-md-2">
            <%= link_to(
                        content_tag(
                                :i,
                                nil,
                                class: 'fa fa-arrow-left'
                        ),
                        :back
                )
            %>        </div>
      </div>
    </div>

      <br>
      <br>
</div>
  </div>
    
    <% if @exercise_entries.present? %>
    <br>
    <br>
    <br>

    <div class ="row">
    <div class="col-xs-9 col-xs-offset-3">

    <div class="col-md-8">
      <p class="text-center"> <strong><%= @exercise.sample_exercise.name %> Lifting History Log</strong>  </p>
      <%= line_chart @exercise_entries.group(:exercise_id).group(:created_at).sum(:weight), ytitle: "Weight Lifted", xtitle: "Log Date", height: "210px", discrete: true%>
      
      <br>
      <br>
      <br>
      
      <p class="text-center"><strong>  <%= @exercise.sample_exercise.name %> Weight Frequency </strong> </p>
      <%= column_chart @exercise_entries.group(:weight).count(:weight), ytitle: "Frequency", xtitle: "Weight Lifted", height: "210px", discrete: true, exporting: {
                                                                              buttons: {
                                                                                      contextButtons: {
                                                                                              enabled: true,
                                                                                              fallbackToExportServer: true,
                                                                              }}} %>

      <!-- <= line_chart @exercise_entries.group(:created_at).sum(:weight), ytitle: "Weight Lifted", height: "210px",
                     discrete: true, xAxis: { type: 'datetime',  format: '{value:%W/%Y}' } %> -->
      
      <!--xAxis: '%e %b'-->
      <!--<= bar_chart @exercise_entries.group(:weight).count(:created_at), {library: { hAxis: { tickInterval: 5}}}  %>-->
      <!--<= pie_chart @exercise_entries.group(:weight).count(:created_at) %>-->
      
      <!--<= column_chart @exercise_entries.group(:created_at).sum(:weight), library: { hAxis: { format: 'MM/dd' } }  %>-->
    </div>


      <div class="col-xs-10">
        </div>
    </div>
</div>
    <% end %>
<br>
<br>
<br>


