<div class="container">
  <div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-8">
      <%= yield %>

      <title>Reports | Weight Lifting Pro</title>
      
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><%= link_to 'Last Month Report', reports_exercise_entry_month_url %> </li>
        <li><%= link_to 'Last Week Report', reports_exercise_entry_week_url %></li>
      </ul>
      <br>


      <h3 class="text-center"><%= current_user.fname %>'s Exercise Report </br>
        Month Beginning <%= start_date_month.to_formatted_s(:long)  %></h3>

      <br>


      <% current_user.exercise_entries.order(created_at: :desc).each do |exercise| %>

          <% if exercise.created_at >= start_date_month %>

              <table>
                <tr> <td> <h4> <strong><%= exercise.created_at.strftime("%A, %B %e, %Y") %> </strong></h4></td> </tr>
                <tr> <td> <h4><%= exercise.exercise.sample_exercise.name %></h4></td> </tr>
                <tr> <td><b> Sets: </b><%= exercise.sets %></td> </tr>
                <tr> <td><b> Reps: </b><%= exercise.reps %></td> </tr>
                <tr> <td><b> Weight: </b><%= exercise.weight %> <%= exercise.measure %> </td> </tr>

                <% if current_user.body_weight.present? && exercise.exercise.sample_exercise.id == 1 %>
                    <tr> <td> <b> <span style="color:orangered">Max Goal for 5 Reps: <%= bw_85 %> <%= exercise.measure %> </span> </b></td> </tr>
                    <tr> <td> <b> <span style="color:crimson">Max Goal for 1 Rep: <%= bw_200 %> <%= exercise.measure %> </span> </b></td> </tr>
              <% end %>

                <% if current_user.body_weight.present? && exercise.exercise.sample_exercise.id == 2 %>
                    <tr> <td> <b> <span style="color:orangered">Max Goal for 5 Reps: <%= bw_85 %> <%= exercise.measure %> </span> </b></td> </tr>
                    <tr> <td> <b> <span style="color:crimson">Max Goal for 1 Rep: <%= bw_250 %> <%= exercise.measure %> </span> </b></td> </tr>
              <% end %>

                <% if current_user.body_weight.present? && exercise.exercise.sample_exercise.id == 3 %>
                    <tr> <td> <b> <span style="color:orangered">Max Goal for 5 Reps: <%= bw_85 %> <%= exercise.measure %> </span> </b></td> </tr>
                    <tr> <td> <b> <span style="color:crimson">Max Goal for 1 Rep: <%= bw_150 %> <%= exercise.measure %> </span> </b></td> </tr>
              <% end %>

                <% if current_user.body_weight.present? && exercise.exercise.sample_exercise.id == 5 %>
                    <tr> <td> <b> <span style="color:orangered">Max Goal for 5 Reps: <%= bw_200 %> <%= exercise.measure %> </span> </b></td> </tr>
                    <tr> <td> <b> <span style="color:crimson">Max Goal for 1 Rep: <%= bw_250 %> <%= exercise.measure %> </span> </b></td> </tr>
                <% end %>

                <% if current_user.body_weight.present? && exercise.exercise.sample_exercise.id == 10 %>
                    <tr> <td> <b> <span style="color:orangered">Max Goal for 5 Reps: <%= bw_50 %> <%= exercise.measure %> </span> </b></td> </tr>
                    <tr> <td> <b> <span style="color:crimson">Max Goal for 1 Rep: <%= bw_75 %> <%= exercise.measure %> </span> </b></td> </tr>
                <% end %>

                <% if current_user.body_weight.present? && exercise.exercise.sample_exercise.id == 11 %>
                    <tr> <td> <b> <span style="color:orangered">Max Goal for 5 Reps: <%= bw_85 %> <%= exercise.measure %> </span> </b></td> </tr>
                    <tr> <td> <b> <span style="color:crimson">Max Goal for 1 Rep: <%= current_user.body_weight %>  <%= current_user.measure %> </span> </b></td> </tr>
                <% end %>

                <% if current_user.body_weight.present? && exercise.exercise.sample_exercise.id == 12 %>
                    <tr> <td> <b> <span style="color:orangered">Max Goal for 5 Reps: <%= bw_15 %> <%= exercise.measure %> </span> </b></td> </tr>
                    <tr> <td> <b> <span style="color:crimson">Max Goal for 1 Rep: <%= bw_25 %> <%= exercise.measure %> </span> </b></td> </tr>
                <% end %>

                <% if current_user.body_weight.present? && exercise.exercise.sample_exercise.id == 13 %>
                    <tr> <td> <b> <span style="color:orangered">Max Goal for 5 Reps: <%= bw_30 %> <%= exercise.measure %> </span> </b></td> </tr>
                    <tr> <td> <b> <span style="color:crimson">Max Goal for 1 Rep: <%= bw_50 %> <%= exercise.measure %> </span> </b></td> </tr>
                <% end %>

                <% if current_user.body_weight.present? && exercise.exercise.sample_exercise.id == 17 %>
                    <tr> <td> <b> <span style="color:orangered">Max Goal for 5 Reps: <%= bw_60 %> <%= exercise.measure %> </span> </b></td> </tr>
                    <tr> <td> <b> <span style="color:crimson">Max Goal for 1 Rep: <%= bw_75 %> <%= exercise.measure %> </span> </b></td> </tr>
                <% end %>

                <% if current_user.body_weight.present? && exercise.exercise.sample_exercise.id == 20 %>
                    <tr> <td> <b> <span style="color:orangered">Max Goal for 5 Reps: <%= bw_35 %> <%= exercise.measure %> </span> </b></td> </tr>
                    <tr> <td> <b> <span style="color:crimson">Max Goal for 1 Rep: <%= bw_50 %> <%= exercise.measure %> </span> </b></td> </tr>
                <% end %>

                <% if current_user.body_weight.present? && exercise.exercise.sample_exercise.id == 22 %>
                    <tr> <td> <b> <span style="color:orangered">Max Goal for 5 Reps: <%= bw_45 %> <%= exercise.measure %> </span> </b></td> </tr>
                    <tr> <td> <b> <span style="color:crimson">Max Goal for 1 Rep: <%= bw_60 %> <%= exercise.measure %> </span> </b></td> </tr>
                <% end %>
                
                <% if current_user.body_weight.present? && exercise.exercise.sample_exercise.id == 25 %>
                    <tr> <td> <b> <span style="color:orangered">Max Goal for 5 Reps: <%= bw_85 %> <%= exercise.measure %> </span> </b></td> </tr>
                    <tr> <td> <b> <span style="color:crimson">Max Goal for 1 Rep: <%= current_user.body_weight %>  <%= current_user.measure %> </span> </b></td> </tr>
                <% end %>

                <% if current_user.body_weight.present? && exercise.exercise.sample_exercise.id == 32    %>
                    <tr> <td> <b> <span style="color:orangered">Max Goal for 5 Reps: <%= bw_50 %> <%= exercise.measure %> </span> </b></td> </tr>
                    <tr> <td> <b> <span style="color:crimson">Max Goal for 1 Rep: <%= bw_75 %> <%= exercise.measure %> </span> </b></td> </tr>
                <% end %>
                
                <tr> <td> <br></td></tr>
              </table>
          <% end %>
      <% end %>

    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
<br>
<br>