<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <%= render 'layouts/left_panel_two' %>
    </div>

    <div class="col-xs-2">
    </div>
    
    <div class="col-xs-6">
      <%= yield %>
      
      <title>Reports | Weight Lifting Pro</title>

      <ul class="nav nav-tabs" role="tablist">
        <li><%= link_to 'Last Workout', reports_last_workout_url %> </li>
        <li class="active"><%= link_to 'Last Week Report', reports_exercise_entry_week_url %></li>
        <li><%= link_to 'Last Month Report', reports_exercise_entry_month_url %> </li>
      </ul>
      <br>

      <h3 class="text-center"><%= current_user.fname %>'s Exercise Report </br>
      Week of <%= start_date_week.to_formatted_s(:long)  %></h3>
        
      <br>

      <%= button_to "Download PDF", {:controller=>"reports", :action=>"download_weekly_pdf"}, {class:"btn btn-primary btn-sm"} %>
      <br />

      <%= render 'weekly_partial'%>

    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
<br>
<br>