<%= wicked_pdf_stylesheet_link_tag "application" %>

<%= yield %>

<h3 class="text-center"><%= current_user.fname %>'s Exercise Report for Last Workouts </h3>


<br>

<% current_user.exercise_entries.order(created_at: :desc).each do |exercise| %>


    <% if (exercise.created_at == last_entry_date) ||(exercise.created_at <= last_entry_date && exercise.created_at >= last_entry_date.at_midnight) %>


        <table>
          <tr> <td> <strong><%= exercise.created_at.strftime("%A, %B %e, %Y") %> </strong></td> </tr>
          <tr> <td> <%= exercise.exercise.sample_exercise.name %> </td> </tr>
          <font size="2">
            <tr> <td> Reps: <%= exercise.reps %></td> </tr>
            <tr> <td>  Sets: <%= exercise.sets %></td> </tr>
            <tr> <td> Weight: <%= exercise.weight %> <%= exercise.measure %> </td> </tr>
          </font>

          <font size="2">

            <!-- Exercise: Squat -->

            <% if current_user.gender = 'Female' && exercise.exercise.sample_exercise.id == 1 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_15 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_30 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_25 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_50 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_60 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_150 %> <%= exercise.measure %> </span>  </td> </tr>
                <% end %>

            <% elsif current_user.gender = 'Male' && exercise.exercise.sample_exercise.id == 1 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_30 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_85 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_50 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_100 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_85 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_200 %> <%= exercise.measure %> </span>  </td> </tr>
                <% end %>
            <% end %>



            <!-- Exercise: Deadlift -->

            <% if current_user.gender = 'Female' && exercise.exercise.sample_exercise.id == 2 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_20 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_45 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_40 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_85 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_60 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_150 %> <%= exercise.measure %> </span>  </td> </tr>
                <% end %>

            <% elsif current_user.gender = 'Male' && exercise.exercise.sample_exercise.id == 2 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_30 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_100 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_50 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_125 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_85 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_250 %> <%= exercise.measure %> </span>  </td> </tr>
                <% end %>
            <% end %>



            <!-- Exercise: Bench Press -->

            <% if current_user.gender = 'Female' && exercise.exercise.sample_exercise.id == 3 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_15 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_65 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_25 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_85 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_60 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_100 %> <%= exercise.measure %> </span>  </td> </tr>
                <% end %>

            <% elsif current_user.gender = 'Male' && exercise.exercise.sample_exercise.id == 3 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_30 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_100 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_60 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_125 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_85 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_150 %> <%= exercise.measure %> </span>  </td> </tr>
                <% end %>
            <% end %>



            <!-- Exercise: Leg Press -->

            <% if current_user.gender = 'Female' && exercise.exercise.sample_exercise.id == 5 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_40 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_80 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_75 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_125 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_150 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_200 %> <%= exercise.measure %> </span>  </td> </tr>
                <% end %>

            <% elsif current_user.gender = 'Male' && exercise.exercise.sample_exercise.id == 5 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_50 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_100 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_100 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_150 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_200 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_250 %> <%= exercise.measure %> </span>  </td> </tr>
                <% end %>
            <% end %>



            <!-- Exercise: Calf Raise - Standing -->

            <% if current_user.gender = 'Female' && exercise.exercise.sample_exercise.id == 10 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_25 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_75 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_65 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_100 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_80 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_125 %> <%= exercise.measure %> </span>  </td> </tr>
                <% end %>

            <% elsif current_user.gender = 'Male' && exercise.exercise.sample_exercise.id == 10 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_60 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_100 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_85 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_125 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_100 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_150 %> <%= exercise.measure %> </span>  </td> </tr>
                <% end %>
            <% end %>



            <!-- Exercise: Bent-Over Row -->

            <% if current_user.gender = 'Female' && exercise.exercise.sample_exercise.id == 11 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_25 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_65 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_45 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_75 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_85 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_100 %> <%= exercise.measure %> </span>  </td> </tr>
                <% end %>

            <% elsif current_user.gender = 'Male' && exercise.exercise.sample_exercise.id == 11 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_40 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_85 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_85 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_100 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_100 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_125 %>  <%= exercise.measure %> </span>  </td> </tr>
                <% end %>
            <% end %>



            <!-- Exercise: Bicep Curls - Individual -->

            <% if current_user.gender = 'Female' && exercise.exercise.sample_exercise.id == 12 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_05 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_15 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_10 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_25 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_25 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_35 %> <%= exercise.measure %> </span>  </td> </tr>
                <% end %>

            <% elsif current_user.gender = 'Male' && exercise.exercise.sample_exercise.id == 12 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_10 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_20 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_15 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_25 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_25 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_35 %> <%= exercise.measure %> </span>  </td> </tr>
                <% end %>
            <% end %>




            <!-- Exercise: Bicep Curls - Together -->

            <% if current_user.gender = 'Female' && exercise.exercise.sample_exercise.id == 13 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_10 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_20 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_15 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_40 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_45 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_60 %> <%= exercise.measure %> </span>  </td> </tr>
                <% end %>

            <% elsif current_user.gender = 'Male' && exercise.exercise.sample_exercise.id == 13 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_20 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_40 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_30 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_50 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_50 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_70 %> <%= exercise.measure %> </span>  </td> </tr>
                <% end %>
            <% end %>



            <!--Exercise: Rear Delt Row -->

            <% if current_user.gender = 'Female' && exercise.exercise.sample_exercise.id == 20 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_10 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_20 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_20 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_30 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_30 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_45 %> <%= exercise.measure %> </span>  </td> </tr>
                <% end %>

            <% elsif current_user.gender = 'Male' && exercise.exercise.sample_exercise.id == 20 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_15 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_30 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_25 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_40 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_35 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_50 %> <%= exercise.measure %> </span>  </td> </tr>
                <% end %>
            <% end %>



            <!-- Exercise: Shoulder Press / Overhead Press -->

            <% if current_user.gender = 'Female' && exercise.exercise.sample_exercise.id == 25 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_10 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_20 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_20 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_30 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_30 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_45 %> <%= exercise.measure %> </span>  </td> </tr>
                <% end %>

            <% elsif current_user.gender = 'Male' && exercise.exercise.sample_exercise.id == 25 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_15 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_30 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_25 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_40 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_85 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_100 %>  <%= exercise.measure %> </span>  </td> </tr>
                <% end %>
            <% end %>



            <!-- Exercise: Power Clean -->

            <% if current_user.gender = 'Female' && exercise.exercise.sample_exercise.id == 38 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_50 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_70 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_90 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_100 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_100 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_125 %> <%= exercise.measure %> </span>  </td> </tr>
                <% end %>

            <% elsif current_user.gender = 'Male' && exercise.exercise.sample_exercise.id == 38 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_60 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_100 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_120 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_150 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_150 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_175%>  <%= exercise.measure %> </span>  </td> </tr>
                <% end %>
            <% end %>



            <!-- Exercise: Clean & Press -->

            <% if current_user.gender = 'Female' && exercise.exercise.sample_exercise.id == 39 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: 35 lbs </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: 65 lbs </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_75 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_100 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_100 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_125 %> <%= exercise.measure %> </span>  </td> </tr>
                <% end %>

            <% elsif current_user.gender = 'Male' && exercise.exercise.sample_exercise.id == 39 %>
                <% case current_user.level
                     when 'Beginner' %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_35 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_70 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when 'Intermediate'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_100 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_150 %> <%= exercise.measure %> </span>  </td> </tr>
                <% when  'Advanced'  %>
                    <tr> <td>   <span style="color:orangered">Max Goal for 5 Reps: <%= bw_150 %> <%= exercise.measure %> </span>  </td> </tr>
                    <tr> <td>   <span style="color:crimson">Max Goal for 1 Rep: <%= bw_200 %>  <%= exercise.measure %> </span>  </td> </tr>
                <% end %>
            <% end %>

            </div>

            <br />
          </font>

        </table>
    <% end %>
<% end %>



<br>
<br>