<%= wicked_pdf_stylesheet_link_tag "application" %>

<%= yield %>

<h3><%= current_user.fname %>'s Exercise Report </br>
  Month Beginning <%= start_date_month.to_formatted_s(:long)  %></h3>

<br>

<%= render 'weekly_partial'%>



<br>
<br>