<div class="container">
  <div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-9">
      <%= yield %>


      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><%= link_to 'Monthly Report', exercise_entry_month_reports %> </li>
        <li><%= link_to 'New Exercise', new_exercise_path %></li>
        <li><%= link_to 'All Exercises', sample_exercises_path %></li>
      </ul>

      <title>My Reports | Weight Lifting Pro</title>
      <h3><%= current_user.fname %>'s Reports</h3>

      
      <table class ="table">
        <tr>
          <td>
            <%= link_to new_exercise_path, style: "color: white", class: 'btn btn-success' do %>
                <i class="glyphicon glyphicon-plus"></i> New Exercise
            <% end %>
          </td>
          <td>
            <%= link_to 'My   Exercise Log', exercise_entries_path, style: "color: white", class: 'btn btn-primary' %>
          </td>
          <td>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>

    </div>
  </div>
</div>

<br>
<br>

<br>
<br>