<div class="container">
  <div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-8">
      <%= yield %>

      <title>Reports | Weight Lifting Pro</title>

      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><%= link_to 'Last Workout', reports_last_workout_url %> </li>
        <li><%= link_to 'Last Week Report', reports_exercise_entry_week_url %></li>
        <li><%= link_to 'Last Month Report', reports_exercise_entry_month_url %> </li>
      </ul>
      <br>


      <h3 class="text-center"><%= current_user.fname %>'s Exercise Report for Last Workouts </h3>

      <p class="text-center">
        <i> *This report shows the most recent workout entry for each exercise.</i>
      </p>

      <br>
      
      <%= button_to "Download PDF", {:controller=>"reports", :action=>"download_last_pdf"}, {class:"btn btn-primary btn-sm"} %>



      <%= render 'last_workout_partial'%>

   
    </div>
  </div>
</div>
<br>
<br>