
<h4>
  <strong> <%= current_user.fname %></strong>
</h4>
<hr>

<ul class="nav">
  <li class="<%= 'active' if current_page?(edit_user_registration_path) %>"> <%= link_to edit_user_registration_path do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"> Edit User</i><% end %></li>
  <hr>
  <li class="<%= 'active' if current_page?(exercises_path) %>"> <%= link_to exercises_path do %>
        <i class="fa fa-cogs" aria-hidden="true" style="color:green">  Exercises </i><% end %> </li>
  <hr>
  <li class="<%= 'active' if current_page?(exercise_entries_path) %>"> <%= link_to exercise_entries_path do %>
        <i class="fa fa-calendar" aria-hidden="true" style="color:cornflowerblue">  Exercise Log </i><% end %>
  </li>
  <hr>
  <li class="<%= 'active' if current_page?(routines_url) %>"> <%= link_to routines_url do %>
        <i class="fa fa-refresh" aria-hidden="true" style="color:darkorange">  Routines </i><% end %>
  </li>
  <hr>
  <li class="<%= 'active' if current_page?(reports_url) %>"> <%= link_to reports_url do %>
        <i class="fa fa-list-ul" aria-hidden="true">  Reports </i><% end %>
  </li>
  <hr>
  <li class="<%= 'active' if current_page?(muscle_measures_url) %>"> <%= link_to muscle_measures_url do %>
        <i class="fa fa-arrows-h" aria-hidden="true">  Measurements </i><% end %>
  </li>
  
  <hr>
  <li class="<%= 'active' if current_page?(reports_url) %>"><%= link_to calculator_url do %>        
        <i class="fa fa-calculator" aria-hidden="true"> Unit Converter </i><% end %>
  </li>
</ul>



