

    <h4>
     <strong> <%= current_user.fname %></strong> 
    </h4>

    <hr>
    
    <% if @user.dob.present? %>
    <h5>
      <%= fa_icon 'user' %>
      <%= "#{pluralize(age(@user.dob), 'year')} old" %>
    </h5>
        <% end %>
    
    <hr>
    
    <h5>
      <%= fa_icon 'dashboard' %>
       <%= @user.body_weight.to_i %> <%= @user.measure %>
    </h5>

    <hr>
    
      <%= link_to edit_user_registration_path do %>
          <i class="fa fa-pencil-square-o" aria-hidden="true"> Edit User</i><% end %>
    
    <!--<h5>-->
      <!--<= fa_icon 'pencil'%>-->
      <!--<= link_to "  Edit User", edit_user_registration_path, style: "color: grey"   %>-->
    <!--</h5>-->

    <hr>


    <%= link_to reports_url do %>
        <i class="fa fa-list-ul" aria-hidden="true"> My Reports </i><% end %>
    
    <hr>


      <%= link_to calculator_url do %>
          <i class="fa fa-calculator" aria-hidden="true"> Unit Converter </i><% end %>
