    <h4>
     <strong> <%= current_user.fname %></strong> 
    </h4>
 <hr>
    
    <% if @user.dob.present? %>
    <h5>
      <%= fa_icon 'user' %>
      <%= "#{pluralize(age(@user.dob), 'year')} old" %>
    </h5>
        <% end %>
    
    <hr>
    
    <h5>
      <%= fa_icon 'dashboard' %>
       <%= @user.body_weight.to_i %> <%= @user.measure %>
    </h5>

    <hr>
    
    <h5>
          <% case current_user.level
               when 'Beginner' %>
          <i class="fa fa-battery-quarter" aria-hidden="true"></i>
          <%= @user.level %> 

          <%  when 'Intermediate' %>
          <i class="fa fa-battery-half" aria-hidden="true"></i>
          <%= @user.level %> 
          
          <%  when 'Advanced' %>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <%= @user.level %>   
                  
          <% end %> 

    </h5>
    
    <hr>
    <ul class="nav">
    <li>
      <%= link_to edit_user_registration_path do %>
          <i class="fa fa-pencil-square-o" aria-hidden="true"> Edit User</i><% end %>
    </li>
      
    <hr>
      <li>
        <%= link_to reports_url do %>
            <i class="fa fa-list-ul" aria-hidden="true">  Reports </i><% end %>
      </li>
    
    <hr>
    <li>
      <%= link_to calculator_url do %>
          <i class="fa fa-calculator" aria-hidden="true"> Unit Converter </i><% end %>
    </li>
    </ul>